@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.sidemenu li {
    background-color: darkorange;
    border-top: 1px solid #fff;
}
